.skills-container {
    margin-top: 8vh;
}

.skills-msg h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 1000;
}

.skills-content {
    border-left: 2px solid var(--grey-color);
    padding-left: 20px;
    margin-top: 20px;
}

.skills-table {
    width: 80%;
    border-collapse: collapse;
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
}

.skills-table tr td {
    padding: 10px;
    border: 1px solid var(--grey-color);
}

.skills-table tr th {
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}



.skills-table tr:first-child {
    background-color: var(--grey-color);
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
}

.skills-table tr td:nth-child(3) {
    width: 40%;
    text-align: center;
}

.skills-table tr td:nth-child(1) div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-weight: bold;
}

.skills-table tr td:nth-child(2) {
    text-align: center;
}

#skill-level-beginner {
    color: rgba(182, 205, 233, 0.8);
}

#skill-level-intermediate {
    color: rgba(255, 234, 0, 0.8);
}

#skill-level-advanced {
    color: rgba(17, 255, 0, 0.8);
}