{% extends 'layout.html' %}
{% load static %}

{% comment %} Linking Static Files {% endcomment %}
{% block linking_files %}
    <link rel="stylesheet" href="{% static 'bio/style.css' %}">
{% endblock %}


{% comment %} Header Content on Top {% endcomment %}
{% block header_content %}About{% endblock %}

{% comment %} Main Content {% endcomment %}
{% block main_content %}
    <div class="about-container">
        <div class="about-msg">
            <h2>Biography</h2>
        </div>
        <div class="about-content">
            <div class="name">
                <h3 class="div-content">Name</h3>
                <h3>{{ bio.name }}</h3>
            </div>
            <div class="role">
                <h3 class="div-content">Role</h3>
                <h3>{{ bio.role }}</h3>
            </div>
            <div class="summary">
                <h3 class="div-content">Summary</h3>
                <p>{{ bio.summary }}</p>
            </div>
            <div class="focus-areas">
                <h3 class="div-content">Focus Areas</h3>
                <p>{{ bio.focus_areas }}</p>
            </div>
        </div>
    </div>
{% endblock %}