{% extends "layout.html" %}
{% load static %}

{% comment %} Linking Static Files {% endcomment %}
{% block linking_files %}
    <link rel="stylesheet" href="{% static 'project/style.css' %}">
{% endblock %}

{% comment %} Header Content on Top {% endcomment %}
{% block header_content %}Home{% endblock %}

{% comment %} Main Content {% endcomment %}
{% block main_content %}
    <div class="hero-container">
        <div class="left-container">
            <div class="greetings">
                <h4>Hello World, I am</h4>
            </div>

            <!-- TODO: Add Dynamic Data -->
            <div class="main-content">
                <h1>Muhammad Abish Baig</h1>
                <h3><span>Aspiriring</span> Systems Engineer</h3>
            </div>

            <div class="resume">
                <a href="#">Resume.pdf</a>
            </div>
        </div>
        <div class="right-container">
            <img src="{% static 'project/images/pic_frame.png' %}" alt="Picture Frame">
        </div>
    </div>
{% endblock main_content %}